.page-header-title {
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: -0.04rem;
  margin-bottom: 1rem;
}
.page-header-subtitle {
  color: var(--secondaryColor);
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
